cloudpickle==2.0.0
keras_tuner==1.0.4
imbalanced_learn==0.8.1
tensorflow==2.5.2
tensorflow_probability==0.13.0
interruptingcow==0.8
scipy==1.7.1
colored==1.4.2
joblib==1.0.1
gplearn==0.4.1
dill==0.3.4
torch==1.10.0
pandas_profiling==3.0.0
mlxtend==0.19.0
similaritymeasures==0.4.4
matplotlib==3.4.3
livelossplot==0.5.4
sympy==1.8
pandas==1.3.3
numba==0.54.0
psutil==5.8.0
more_itertools==8.9.0
tensorflow_addons==0.15.0
treelib==1.6.1
mpmath==1.2.1
numpy==1.19.5
anytree==2.8.0
prettytable==2.2.0
keras_nightly==2.5.0.dev2021032900
tqdm==4.62.3
seaborn==0.11.2
graphviz==0.17
imblearn==0.0
ipython==8.1.0
keras==2.8.0
lime==0.2.0.1
scikit_learn==1.0.2
shap==0.40.0
ttg==0.1.dev3
xgboost==1.5.2
